@import "_variables";

.start-page {
  height: 100vh;
  padding-top: 135px;
  padding-bottom: 65px;
  @media (max-width: @tablet) {
    padding-top: 80px;
  }
  @media (max-width: @mobile) {

  }

  &.app-content-container {
    height: 100%;
    .flex-column(flex-start, space-around);
    @media (max-width: @tablet) {
      .flex-column(flex-start, flex-start)
    }
  }

  h1 {
    .text-props(400, 88px, 103px, @white-color);
    max-width: 1100px;
    @media (max-width: @desktop-large) {
      .text-props(400, 64px, 75px, @white-color);
      max-width: 900px;
    }
    @media (max-width: @tablet-large) {
      .text-props(400, 56px, 66px, @white-color);
      //max-width: 690px;
    }
    @media (max-width: @tablet) {
      .text-props(400, 30px, 47px, @white-color);
      max-width: 490px;
    }
    @media (max-width: @mobile) {
      .text-props(400, 27px, 32px, @white-color);
    }
  }

  .flex-default-start {
    width: 70%;
    gap: 120px;
    @media (max-width: @tablet) {
      .flex-column(flex-start, center);
      gap: 20px;
    }
  }
}

.about-block {
  padding-top: 120px;
  padding-bottom: 80px;
  .flex-column(center, center);
  @media (max-width: @tablet) {
    margin-bottom: 100px;
  }

  &-header {
    .flex-default(flex-start, space-between);
    gap: 120px;
    width: 100%;
    margin-bottom: 80px;
    @media (max-width: @tablet) {
      .flex-column(flex-start, center);
      gap: 20px;
    }

    h2 {
      width: 100%;
    }

    .description {
      .flex-column(center, center);

      &-title {
        .text-props(400, 56px, 66px, @black-color);
        @media (max-width: @desktop-large) {
          .text-props(400, 40px, 47px, @black-color);
        }
        @media (max-width: @tablet-large) {
          .text-props(400, 32px, 38px, @black-color);
        }

      }

      &-subtitle {
        margin-top: 40px;
        .text-props(400, 32px, 40px, @black-color);
        @media (max-width: @desktop-large) {
          .text-props(400, 24px, 30px, @black-color);
        }
        @media (max-width: @desktop) {
          .text-props(400, 20px, 26px, @black-color);
        }
      }
    }
  }

  &-cards {
    .flex-default(stretch, space-between);
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    @media (max-width: 1920px) {
      gap: 30px;
    }
  }
}

.dev-description-block {

  &.background-wrapper {
    background-image: linear-gradient(270deg, #3E89FF 0%, #0060F5 100%);

    .image-position-wrapper {
      position: relative;
      background-image: url("/src/images/dev-description-block/background-blur.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left 15% bottom -60px;

      &:after {
        content: "";
        position: absolute;
        background-image: url('/src/images/dev-description-block/background.png');
        background-position: left 15% bottom -60px;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        transition: opacity 0.3s;
        @media (min-width: @desktop-large) {
          background-position: left 10% bottom -60px;
        }
        @media (max-width: @desktop) {
          background-position: left -20% bottom -60px;
        }
      }
      &.loaded:after {
        opacity: 1;
      }

      @media (min-width: @desktop-large) {
        background-position: left 10% bottom -60px;
      }
      @media (max-width: @desktop) {
        background-position: left -20% bottom -60px;
      }
    }
  }

  &-header {
    .flex-default(flex-start, space-between);
    width: 100%;
    gap: 120px;
    @media (max-width: @tablet) {
      .flex-column(flex-start, center);
      gap: 20px;
    }

    h2 {
      width: 100%;
      z-index: 2;
    }

    .description {
      max-width: 1100px;
      z-index: 2;
      .flex-column(center, center);

      &-title {
        .text-props(400, 56px, 66px, @white-color);
        @media (max-width: @desktop-large) {
          .text-props(400, 40px, 47px, @white-color);
        }
        @media (max-width: @tablet-large) {
          .text-props(400, 32px, 38px, @white-color);
        }
      }

      &-subtitle {
        margin-top: 40px;
        .text-props(400, 32px, 40px, @white-color);
        @media (max-width: @desktop-large) {
          .text-props(400, 24px, 30px, @white-color);
        }
        @media (max-width: @desktop) {
          .text-props(400, 20px, 26px, @white-color);
        }
      }
    }
  }
}

.portfolio-block {
  &-cards {
    .flex-default(center, space-between);
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 120px;

    a {
      width: 47%;
      @media (max-width: @tablet-large) {
        width: 100%;
      }
    }

  }
}

.work-flow {
  &-background-wrapper {
    background: @grey-color;

    h2 {
      .text-props(400, 56px, 66px, @black-color);
      margin-bottom: 80px;
      @media (max-width: @desktop-large) {
        .text-props(400, 40px, 47px, @black-color);
      }
    }

    .cards-container {
      .flex-column(center, center);
      gap: 40px;
    }
  }
}

.contact-form-block {

  .background-wrapper {
    background-image: linear-gradient(270deg, #3E89FF 0%, #0060F5 100%);

    .image-position-wrapper {
      position: relative;
      background-image: url("/src/images/contact-form/background-blur.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left 100% bottom 0;
      &:after {
        content: "";
        position: absolute;
        background-image: url('/src/images/contact-form/background.png');
        background-position: left 100% bottom 0;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        transition: opacity 0.3s;
        @media (max-width: @desktop-large) {
          background-position: left 120% bottom 0;
        }
        @media (max-width: @desktop) {
          background-position: left 180% bottom 0;
        }
        @media (max-width: @tablet-large) {
          background-position: left 350% bottom 0;
        }
      }
      &.loaded:after {
        opacity: 1;
      }
      @media (max-width: @desktop-large) {
        background-position: left 120% bottom 0;
      }
      @media (max-width: @desktop) {
        background-position: left 180% bottom 0;
      }
      @media (max-width: @tablet-large) {
        background-position: left 350% bottom 0;
      }
    }
  }

  &-header {
    .flex-default(flex-start, space-between);
    width: 100%;
    @media (max-width: @tablet) {
      .flex-column(center, center);
    }

    .title {
      .text-props(400, 56px, 66px, @white-color);
      flex: 0 0 33%;
      margin-bottom: 20px;
      margin-top: 20px;
      @media (max-width: @desktop-large) {
        .text-props(400, 40px, 47px, @white-color);
      }
      @media (max-width: @tablet-large) {
        .text-props(400, 32px, 38px, @white-color);
      }
    }

    .form {
      &-container {
        .flex-column(flex-start, center);
        max-width: 1100px;
        flex: 1 1;
        padding-left: 50px;
        z-index: 2;
        @media (max-width: @tablet) {
          padding: 0;
          width: 100%;
        }

        //autofill background
        input:-webkit-autofill,
        input:-webkit-autofill:focus {
          transition: background-color 600000s 0s, color 600000s 0s;
        }

        input[data-autocompleted] {
          background-color: transparent !important;
        }

        & > .d-flex {
          .flex-default(center, space-between);
          @media (max-width: @desktop) {
            .flex-column(flex-start, center);
          }
        }

        .error-validation-message {
          .text-props(400, 14px, 16px, #FF92B2);
        }

        .success-sending-message {
          .flex-default(center, center);
          gap: 10px;
          margin-left: 50px;

          &.d-none {
            display: none;
          }

          img {
            width: auto;
            height: 32px;
          }
        }

        .error-sending-message {
          .flex-default(center, center);
          gap: 10px;
          margin-left: 50px;

          &.d-none {
            display: none;
          }

          img {
            width: auto;
            height: 32px;
          }

          span {
            .text-props(400, 18px, 22px, #FF92B2);
          }
        }

        .sending-status {
          display: none;
          gap: 10px;
          margin-left: 50px;
          @media (max-width: @desktop) {
            margin-left: 0;
            margin-top: 20px;
          }

          img {
            width: auto;
            height: 32px;
          }

          &.error {
            .flex-default(center, center);
            .text-props(400, 18px, 22px, #FF92B2);
          }

          &.success {
            .flex-default(center, center);
            .text-props(400, 18px, 22px, @white-color);
          }
        }

        button {
          margin-top: 20px;
        }

        label {
          width: 70%;
          margin-top: 20px;

          span {
            .text-props(400, 14px, 16px, @white-color);
            margin-left: 20px;
          }

          img {
            width: 24px;
            height: 24px;
            margin-right: 10px;
          }

          .upload-span {
            cursor: pointer;
            .text-props(400, 16px, 22px, @white-color);
          }

          & > .d-flex {
            .flex-default(flex-start, space-between);

            &.empty {
              height: 16px;
            }
          }

          @media (max-width: @tablet) {
            width: 100%;
          }
        }

        input[type="file"] {
          display: none;
        }

        input, textarea {
          .text-props(400, 16px, 22px, @white-color);
          border: 1px solid @white-color;
          padding: 20px;
          margin-bottom: 5px;
          margin-top: 5px;
          height: 100%;
          width: 100%;
          background: transparent;
          resize: none;

          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }

          &:focus {
            background: rgba(255, 255, 255, 0.1);
          }

          &.error {
            border: 1px solid red;
          }

          &::placeholder {
            .text-props(400, 16px, 22px, @white-color);
            opacity: 0.4;
          }
        }
      }

    }
  }
}

.cases {
  padding-top: 90px;
  //padding-bottom: 90px;
  //margin-bottom: -90px;
  background: @blue-color;
  overflow-x: hidden;
  min-height: 100vh;

  &-header {
    height: @header-height;
    .divider-bottom(0, 0);
    position: sticky;
    top: 0;
    background: linear-gradient(270deg, #3E89FF 0%, #0060F5 100%);
    z-index: 5;
    width: 100%;

    .app-content-container {
      padding-top: 0;
      padding-bottom: 0;
    }

    img {
      margin-top: 30px;
      width: 48px;
      height: 24px;
    }

    a, button {
      background-color: transparent;
    }

    //&.fixed-scroll {
    //  position: fixed;
    //}
  }

  &.fixed-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    transition: opacity 1s ease;
    background: linear-gradient(270deg, #3E89FF 0%, #0060F5 100%);
    opacity: 0.5;
  }

  .description {
    margin-left: 40%;
    .flex-column(flex-start, center);

    @media (max-width: @tablet) {
      margin: 10%;
    }

    &-title {
      margin-top: 65px;
      .text-props(400, 56px, 66px, @white-color);
      @media (max-width: @desktop-large) {
        .text-props(400, 40px, 47px, @white-color);
      }
      @media (max-width: @tablet-large) {
        .text-props(400, 32px, 38px, @white-color);
      }
    }

    &-subtitle {
      max-width: 530px;
      margin-top: 40px;
      .text-props(400, 20px, 26px, @white-color);
      @media (max-width: @desktop-large) {
        max-width: 437px;
      }
      @media (max-width: @desktop) {
        .text-props(400, 16px, 22px, @white-color);
      }
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    @media (max-width: @desktop-large) {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(5, auto);
    }
    @media (max-width: @desktop) {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(5, auto);
    }
    @media (max-width: @tablet-large) {
      padding: 0;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(7, auto);
    }
    @media (max-width: @tablet) {
      .flex-column(center, center);
      gap: 20px;
    }
    gap: 40px;
    padding-bottom: 80px;
  }
}

.policy {
  background: @white-color;
  min-height: calc(100vh + @header-height);

  h2 {
    width: fit-content;
    margin: 30px auto;
    .text-props(400, 26px, 1.5, @black-color);
  }

  h4 {
    .text-props(400, 22px, 1.5, @black-color);
  }

  li {
    .text-props(400, 12px, 1.5, @black-color);
  }

  .header {
    height: 90px;
    .flex-default(center, flex-start);
    .divider-bottom(0, 0);
    position: sticky;
    top: 0;
    z-index: 9;
    background: @white-color;

    img {
      width: 48px;
      height: 24px;
    }

    a, button {
      margin-left: auto;
      background-color: transparent;
    }

    .img-container {
      width: 100%;
      max-width: 1680px;
      margin: 0 auto;
      padding-left: 120px;
      @media (max-width: @desktop-large) {
        padding: 120px 40px;
      }
      @media (max-width: @tablet-large) {
        padding: 80px 40px;
      }
    }
  }

}

